@import "./base/police";
@import "./layouts/titleBar";
@import "./layouts/nav";
@import "./layouts/header";
@import "./layouts/containerImage";
@import "./layouts/button";
@import "./layouts/cardMovi";
@import "./layouts/viewAllMovies";
@import "./layouts/cardNews";
@import "./layouts/page-home";
@import "./layouts/footer";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #0b1b20;
}
