@import "./base/police";
@import "./layouts/titleBar";
@import "./layouts/nav";
@import "./layouts/header";
@import "./layouts/containerImage";
@import "./layouts/button";
@import "./layouts/cardMovi";
@import "./layouts/viewAllMovies";
@import "./layouts/page-home";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
