.button {
  display: inline-block;
  font-family: nunito;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color: white;
  padding: 20px;
  margin: 0 2px 0 0;
  width: 190px;
  background-color: #ff543e;
}
