.nav-bar {
  background-color: #10272f;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-family: nunito;
  font-size: 14px;
  a {
    text-decoration: none;
    color: white;
  }
  > span {
    margin-right: 200px;
  }
  &__categorie {
    display: flex;
    background-color: #163a45;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    height: 100%;
    padding: 0 10px;
    color: #ff543e;
    img {
      width: 40px;
      height: 31px;
    }
    div {
      padding-bottom: 8px;
      img {
        width: 33px;
        height: 29px;
      }
    }
  }
}
