.page-home {
  position: relative;
  display: flex;
  flex-direction: column;
  &__container {
    //border: 5px black solid;
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    &__button {
      //top: 22px;
      position: relative;
      display: flex;
      justify-content: center;
      flex-direction: row;
      width: 1000px;
      z-index: 1;
    }
    &__view {
      border: 1px rgb(0, 0, 0) solid;
      border-top-left-radius: 2%;
      border-top-right-radius: 2%;

      /* clip-path: polygon(
        4% 0,
        94% 0,
        100% 7%,
        100% 80%,
        100% 100%,
        0 100%,
        0% 80%,
        0 7%
      ); */

      top: -25px;
      position: relative;
      display: flex;
      padding: 35px 0 35px 0;
      background-color: #10272f;
      justify-content: center;
    }
  }
}
