.page-home {
  display: flex;
  flex-direction: column;
  &__container {
    position: absolute;
    top: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    &__button {
      top: 22px;
      position: relative;
      display: flex;
      justify-content: center;
      flex-direction: row;
      width: 1000px;
    }
    &__view {
      z-index: -1;
      display: flex;
      padding: 35px 0 35px 0;
      width: 95%;
      background-color: #10272f;
      justify-content: center;
    }
  }
}
