@font-face {
  font-family: pacifico;
  src: url("./Pacifico/Pacifico-Regular.ttf");
}
@font-face {
  font-family: nunito;
  src: url("./Nunito/Nunito-Regular.ttf");
}
@font-face {
  font-family: "sansita-one";
  src: url("./sansita-one/SansitaOne.ttf");
}
@font-face {
  font-family: orbitron;
  src: url("./Orbitron/Orbitron-VariableFont_wght.ttf");
}
